body{
    background-color: darkgray;
}
#div1{
    height:180px;
    width:500px;
    background-color:rgb(150, 245, 150);
    box-shadow: 0px 0px 20px greenyellow;
    position:absolute;
    top:180px;
    left:500px
}
h1{
    text-align:center;
    font-size:1.9rem;
    color:green

}
#in{
    border:2px solid blue;
    width:340px;
    height:55px;
    margin:20px;
    border-radius:20px;
}
#btn{
    padding:15px;
    background-color: green;
    border:none;
    width:100px;
    border-radius:10px;
    color:white;
    font-size:1.2rem;
}
li{
    list-style-type: none;
    font-size:1.6rem;
    color:rgb(221, 221, 240);
    text-align:center; 
    display:inline;
    margin:20px;
}
i{
    color:red;
    font-size:1.4rem;
   position:absolute;
   right:20px;
}
#todo{
    position:absolute;
    top:200px;
}
.div11{
    width:500px;
    height:70px;
    border-radius:20px;
    background-color: rgb(17, 16, 16);
    margin-bottom: 15px;
    box-shadow:0px 0px 10px rgb(19, 18, 18)

}
